<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title> An About Us Page </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
  <section class="about-us">
    <div class="about">
      <div class="text">
        <h2>About Us</h2>
        <h5>Front-end Developers & <span>Designers</span></h5>
          <p>
            <b>Hemant Jangde:</b><br>
Hemant is a dedicated and creative student pursuing his studies at Sitare University. With a passion for technology and a keen interest in web development, Hemant brings a wealth of knowledge and enthusiasm to the project. He has a knack for problem-solving and enjoys exploring new technologies to enhance his skills. Hemant's commitment to excellence and his strong work ethic make him a valuable asset to the team.
<br><br>
<b>Rijwith Mamidi:</b><br>
Rijwith is an ambitious and talented student enrolled at Sitare University, where he is pursuing his academic goals with dedication and determination. With a passion for software development and a flair for design, Rijwith brings a unique perspective to the project. He is adept at turning ideas into reality and enjoys collaborating with others to create innovative solutions. Rijwith's creativity, attention to detail, and drive for success make him an invaluable member of the team.
<br><br>
<b>Collaborative Efforts:</b>
Together, Hemant and Rijwith combined their skills and expertise to develop a web application for image editing. Leveraging their knowledge of programming languages, web development frameworks, and image processing techniques, they worked tirelessly to create a user-friendly and feature-rich platform.Their collaborative efforts, fueled by their shared passion for technology and learning, resulted in the successful completion of the project.
<br><br>
<b>Sitare University:</b><br>
Sitare University will be established near Indore as a full Private State University under the Madhya Pradesh Private University Act. We have started construction of our new campus on a beautiful 38 acre site (near Dewas) on Bhopal-Indore highway. We hope to move to our new campus in March 2025. For the time being, we are operating out of Lucknow. Our students have been offered admission into our partner university, Sri Ramswaroop Memorial University, in Lucknow. Our students are enrolled in a four year Bachelor of Engineering degree in Computer Science and are being taught by the faculty mentioned here in our People Section.
The intent to establish Sitare University in Madhya Pradesh was announced by Smt. Yashodhara Raje Scindia,Hon. Minister for Sports and Youth Welfare, Technical Education, Skill Development and Employment, Government of Madhya Pradesh, and Dr. Mohan Yadav, Hon. Minister for Higher Education, Government of Madhya Pradesh alongside our Founder, <b>Dr. Amit Singhal.</b>

          </p>
        <div class="data">
        <a href="/contact" class="hire">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>